body {
    margin: 0;
}

.nav {
    margin-top: 0px;
    list-style-type: none;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a.active {
    background-color: #4CAF50;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}